.main-container {
  margin-top: 2rem;
}

.app-spinner {
  color: #ccc;
  font-size: 3rem;
  margin-top: 3rem;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
  font-family: 'Sintony', sans-serif;
}