.GameStats h3 {
  margin-bottom: 1rem;
  padding-bottom: .5rem;
  border-bottom: 2px solid #007bff;
  display: inline-block;
}
.GameStats .nav {
  margin-bottom: 1rem;
}
.GameStats .nav-link {
  border: 1px solid #007bff;
}
